<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DbgShellUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DbgShell.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DbgShell.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DbgShellUI.Settings>
            <setting name="DbgPath" serializeAs="String">
                <value>c:\Program Files (x86)\Windows Kits\10\Debuggers\x86</value>
            </setting>
            <setting name="Startup" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.symfix c:\mycache</string>
                        <string>.reload</string>
                        <string>.loadby sos clr</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DbgShellUI.Settings>
        <DbgShell.Settings>
            <setting name="Dbg32Path" serializeAs="String">
                <value>c:\Program Files (x86)\Windows Kits\10\Debuggers\x86</value>
            </setting>
            <setting name="Startup" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.symfix c:\symbols</string>
                        <string>.reload</string>
                        <string>.loadby sos clr</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Dbg64Path" serializeAs="String">
                <value>c:\Program Files (x86)\Windows Kits\10\Debuggers\x64</value>
            </setting>
        </DbgShell.Settings>
    </userSettings>
</configuration>